.App {
  text-align: center;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}
.Header {
  font-weight: 400;
  margin: 0;
  display: inline-block;
}

/* Parent Styles */

header {
  color: #fff;
  border-bottom: 1px solid #454545;
  background: #151515;
  padding: 35px;
  margin: 0 0 75px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  max-width: 125px;
  margin-right: 30px;
  border-right: 1px solid #fff;
  padding-right: 30px;
}
